﻿#header {
    display: inline-block;
    vertical-align: middle;
}
h1 {
    font-size: 13pt;
}
td, th {
    display: table-cell;
    padding: 3px;
    width: 70px;
}

#tableBlock, #scrollBlock {
    display: inline-block;
}

table {
    font-size: 10pt;
}

.dataRow:nth-child(even) {
    background: #fff
}

.dataRow:nth-child(odd) {
    background: #b8ffc9
}

th {
    background: #f2cd8d
}

.dataRow:hover{
    background: #ffe2b0
}

.lowerAvgPrice {
    font-weight: bold;
    color: #0000ff;
}

.upperAvgPrice {
    font-weight: bold;
    color: #ff0000
}

.descriptionCell {
    width: 100px;
}

#buttonBlock button {
    display: inline-block;
}

img {
    width: 25px;
    border: 0px;
}